# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local
.env.production

# Build outputs
dist/
**/dist/
build/
**/build/

# Logs & temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tempmediaStorage/
scratch/
server/data/*.json

# IDE & System files
.DS_Store
Thumbs.db
.vscode/
.idea/
